<section class="note-area-content" [style.background]="note.color">
    <h2 class="note-area-content-title">
        {{ note.title }}
    </h2>
    <p class="note-area-content-body">
        {{ note.description }}
    </p>
    <div class="note-area-content-footer">
        <i class="material-icons item-section-icons">color_lens</i>
        <i class="material-icons item-section-icons" (click)="editNote(note)">label</i>
        <i class="material-icons item-section-icons" (click)="deleteNote(note.id)">delete</i>
    </div>
</section>