.alert-notifications {
    position: fixed; 
    height: 70px;
    width: 100%; 
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.notification-icons {
    position: relative;
    top: 3px;
    font-size: 30px;
}

.notification-icons-close {
    float: right;
}