<form class="note-wrapper" [formGroup]="noteForm" (ngSubmit)="handleAction(noteForm.value.note)" [ngStyle]="{'background': selectedColor}">
    <div formGroupName="note">
        <input type="text" placeholder="Title" class="note-title" formControlName="title" [class.hidden]="!isToggled" autocomplete="off" [ngStyle]="{'background': selectedColor}">
        <input type="text" placeholder="Take a note.." class="note-description" formControlName="description" (click)="toggle()" autocomplete="off" [ngStyle]="{'background': selectedColor}">
        <div class="item-section" [class.hidden]="!isToggled">
            <i class="material-icons item-section-icons" (click)="toggleColorView()">color_lens</i>
            <i class="material-icons item-section-icons" (click)="handleFormState()">label</i>
            <button type="submit" class="note-btn" [ngStyle]="{'background-color': selectedColor}" #formButton>Save</button>
        </div>
        <div class="color-palette-container" *ngIf="colorToggle">
            <div *ngFor="let item of colors.colorArray" class="color-palette-color" [ngStyle]="{'background': item}" (click)="setColor(item)"></div>
        </div>
    </div>
</form>