<div *ngIf="message" class="alert alert-success">
    {{ message }}
</div>

<form class="note-wrapper" #formRef="ngForm" (ngSubmit)="saveNote(formRef, formRef.value.note)">
    <div ngModelGroup="note">
        <input type="text" placeholder="Title" class="note-title" [class.hidden]="!isToggled" ngModel name="title" autocomplete="off">
        <input type="text" placeholder="Take a note.." class="note-description" (click)="toggle()" ngModel name="description" autocomplete="off">
        <div class="item-section" [class.hidden]="!isToggled">
            <i class="material-icons item-section-icons">color_lens</i>
            <i class="material-icons item-section-icons">label</i>
            <button type="submit" class="note-btn">Done</button>
        </div>
    </div>
</form>